<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="HotPesa Edge">
        <service
            android:name=".service.EdgeRuntimeService"
            android:exported="false" />
    </application>
</manifest>
